:root {
    --rad: 4rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 62.5%;
    background-image: linear-gradient(to top right, #74b9ff, #00b894);
    color: #636e72;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-gap: 1.5rem;
    width: 90vw;
    min-width: 30rem;
    max-width: 50rem;
    max-height: 130vw;
    padding: 2rem 1.5rem;
    background-color: rgba(178, 190, 195, .6);
    box-shadow: 0 2rem 6rem rgba(99, 110, 114, .2);
    border-radius: var(--rad);
}

.display {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #dfe6e9;
    border-radius: var(--rad);
    letter-spacing: .5rem;
    padding: 1.5rem 2rem;
    text-align: right;
    font-size: 3.6rem;
    color: #636e72;
    margin-bottom: 2rem;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    background-color: #dfe6e9;
    border-radius: var(--rad);
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    display: block;
    box-shadow: 0 2px 6px rgba(99, 110, 114, .2);
    cursor: pointer;
    transition: all .1s ease-out;
    
    -moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
    user-select: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear {grid-area: 2 / 1; letter-spacing: 2px;}
#del {grid-area: 2 / 2;}
#divide {grid-area: 2 / 3;}
#multiply {grid-area: 2 / 4;}
#subtract {grid-area: 3 / 4;}
#add {grid-area: 4 / 4;}
#decimal {grid-area: 6 / 3;}
#equals {grid-area: 5 / 4 / 7 / 5; height: auto; line-height: 20vh;}

#zero {grid-area: 6 / 1 / 7 / 3;}
#one {grid-area: 5 / 1;}
#two {grid-area: 5 / 2;}
#three {grid-area: 5 / 3;}
#four {grid-area: 4 / 1;}
#five {grid-area: 4 / 2;}
#six {grid-area: 4 / 3;}
#seven {grid-area: 3 / 1;}
#eight {grid-area: 3 / 2;}
#nine {grid-area: 3 / 3;}

#clear,
#equals {
    color: #dfe6e9;
    background-color: #f16065;
}

#clear:hover,
#equals:hover {
    background-color: #e16065;
}

#clear:active,
#equals:active {
    color: #f16065;
    background-color: #cfd6d9;
}

.btn:hover {
    background-color: #cfd6d9;
    box-shadow: 0 1px 3px rgba(99, 110, 114, .6);
}

.btn:active {
    color: #dfe6e9;
    background-color: #e16065;
}

/* Modal ====================================================== */
.info {
    display: none;
}
