* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  background-image: linear-gradient(to top right, #74b9ff, #00b894);
  color: #636e72; }

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px repeat(5, 1fr);
  grid-gap: 10px;
  width: 80vw;
  max-width: 600px;
  min-width: 320px;
  margin: 5vh auto 0;
  padding: 10px;
  background-color: rgba(178, 190, 195, 0.6);
  box-shadow: 0 20px 60px rgba(99, 110, 114, 0.2);
  border-radius: 3px; }

.display {
  grid-area: 1 / 1 / 2 / 5;
  background-color: #dfe6e9;
  border-radius: 3px;
  letter-spacing: 4px;
  padding: 15px 20px;
  text-align: right;
  position: relative;
  overflow: hidden;
  font-size: 36px;
  color: #636e72;
  line-height: 70px; }

.title {
  color: #e16065;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd6d9; }

.btn {
  background-color: #dfe6e9;
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
  height: 10vh;
  line-height: 10vh;
  display: block;
  box-shadow: 0 2px 6px rgba(99, 110, 114, 0.2);
  cursor: default;
  transition: all .1s ease-out;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

#clear {
  grid-area: 2 / 1;
  letter-spacing: 2px; }

#del {
  grid-area: 2 / 2; }

#divide {
  grid-area: 2 / 3; }

#multiply {
  grid-area: 2 / 4; }

#subtract {
  grid-area: 3 / 4; }

#add {
  grid-area: 4 / 4; }

#decimal {
  grid-area: 6 / 3; }

#equals {
  grid-area: 5 / 4 / 7 / 5;
  height: auto;
  line-height: 20vh; }

#zero {
  grid-area: 6 / 1 / 7 / 3; }

#one {
  grid-area: 5 / 1; }

#two {
  grid-area: 5 / 2; }

#three {
  grid-area: 5 / 3; }

#four {
  grid-area: 4 / 1; }

#five {
  grid-area: 4 / 2; }

#six {
  grid-area: 4 / 3; }

#seven {
  grid-area: 3 / 1; }

#eight {
  grid-area: 3 / 2; }

#nine {
  grid-area: 3 / 3; }

#del,
#divide,
#multiply,
#subtract,
#add,
#decimal,
#equals {
  /*    font-size: 20px;*/ }

#clear,
#equals {
  color: #dfe6e9;
  background-color: #f16065; }

#clear:hover,
#equals:hover {
  background-color: #e16065; }

#clear:active,
#equals:active {
  color: #f16065;
  background-color: #cfd6d9; }

.btn:hover {
  background-color: #cfd6d9;
  box-shadow: 0 1px 3px rgba(99, 110, 114, 0.6); }

.btn:active {
  color: #dfe6e9;
  background-color: #e16065; }

/* ================================================================= */
.footer__follow {
  text-align: center;
  cursor: default;
  margin-top: 1.5vh; }

.footer__follow a {
  display: inline-block;
  height: 18px;
  width: 18px;
  font-size: 20px;
  fill: #dfe6e9;
  margin: 7px;
  transition: fill .2s ease-out; }

.footer__follow a:last-child {
  width: 24px;
  margin-left: 2px; }

.footer__follow a:hover {
  fill: #e16065; }

@media screen and (max-width: 414px) {
  .calculator {
    width: 95vw; } }
